<h1>Pirate Name: <%=@pirate[:name]%></h1>
<h2>Pirate Height: <%=@pirate[:height]%></h2>
<h2>Pirate Weight: <%=@pirate[:weight]%></h2>


<h1>Ship 1 Name: <%=@ships[0][:name]%></h1>
<h2>Ship 1 Type: <%=@ships[0][:type]%></h2>
<h2>Ship 1 Booty: <%=@ships[0][:booty]%></h2>

<h1>Ship 2 Name: <%=@ships[1][:name]%></h1>
<h2>Ship 2 Type: <%=@ships[1][:type]%></h2>
<h2>Ship 2 Booty: <%=@ships[1][:booty]%></h2>
