<div class="pirate">
  <h1><%= @pirate.name %></h1><br>
  <h2>Pirate Weight: <%= @pirate.weight %></h2>
  <h2>Pirate Height: <%= @pirate.height %></h2>
</div><br>

<% @ships.each do |s| %>
  <div class="ship">
    <h2>Ship Name: <%= s.name %></h2><br>
    <p>Ship Type: <%= s.type %></p><br>
    <p>Ship Booty: <%= s.booty %></p><br>
  </div><br>
<% end %>
