<h1>Pirate name: <%= @pirate.name %> Pirate Weight: <%= @pirate.weight %>Pirate Height: <%= @pirate.height %></h1>

<% @all_ships.each do |ship| %>
<h2>Ship Name: <%= ship.name %>Ship Type: <%= ship.type %>Ship Booty: <%= ship.booty %></h2>
<% end %>



<h2>Display your second ship here</h2>
