<h1>Pirates</h1>
<p>Priate Name: <%= @np.name %></p>
<p>Priate Weight: <%= @np.weight %></p>
<p>Priate Height: <%= @np.height %></p>

<h2>Ships</h2>
 <% @all.each do |nom| %>
  <p>Ship Name: <%= nom.name %></p>
  <p>Ship Type: <%= nom.type %></p>
  <p>Ship Booty: <%= nom.booty %></p>
 <% end %>
